RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]
Header always set X-XSS-Protection "1;mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set x-frame-options "SAMEORIGIN"